

.allCardsDiv  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3.7%;
  padding: 0px; 

  width: 100%;

  border: solid 5px rgba(0, 255, 183, 0);

  background-color: #00000000;

} 
/* AllCardsDiv.css */
.card {
  flex: 1 0 21%; /* Slightly larger than 20% to account for gap */
  min-width: 0; /* Prevents flex items from overflowing */
  box-sizing: border-box;
}